@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: #000000;
}

.personal-page {
    margin-top: 55px;
    padding: 0px;
}

.offcanvas-title {
    color: white;
    margin-bottom: 0;
    line-height: var(--bs-offcanvas-title-line-height);
}

.form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: 16px;
}


.a {
    background-color: #d8ccbe;
    width: 100%;
    height: auto;
    padding: 0.1px;
}

.personal-page-text {
    margin-top: 30px;
    margin-left: 80px;
}

.personal-page-text-1 {
    font-size: 3rem;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-top: 80px;
}

.personal-page-text-2 {
    font-size: 4.5rem;
    font-family: revert;
    font-weight: 300;
}

.btn {
    background-color: #292e33 !important;
    border-color: #292e33 !important;
    font-size: 18px;
    transition: 0.5s;
    margin-top: 15px;
}

.btn:hover {
    background-color: #60574c !important;
    border-color: #292e33 !important;
    color: var(--bs-btn-hover-color);
}

.personal-page-no-1 {
    margin-left: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.personal-page-no-2 {
    margin-left: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
}


.u-font-lato.u-custom-font {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0 99px 0 0;
    font-family: Lato, sans-serif !important;
    color: #8e7f6e !important;
}

.u-text-5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.375rem;
    margin: 10px auto 0 0;
    color: #60574c;
}

.u-text-6 {
    font-style: italic;
    margin: 25px 0 0;
    color: #60574c !important;
}

.image-1 {
    width: 450px;
    height: 600PX;
    margin-top: 115px;
    margin-left: 80px;
    border-radius: 20px;

}

.MY-STRENGTHS-bg {
    background-color: #292e33;
    width: 100%;
    height: auto;
}

.MY-STRENGTHS-text-1-no-1 {
    text-transform: uppercase;
    margin: 80px auto 0 70px;
    color: #8e7f6e !important;
}

.MY-STRENGTHS-no-1 {
    padding-top: 40px;
}

.Intelligence {
    color: #ffffff;
    padding: 15px;
}

.Intelligence-text-2 {
    color: white;
    max-width: 336px;

}

.Who-Am-I-bg-1 {
    background-color: #d8ccbe;
    width: 100%;
    height: auto;

}

.Who-Am-I-no-1-text-1 {
    color: #60574c;
}

.Who-Am-I-no-1-text-2 {
    font-size: 3.4375rem;
}

.Who-Am-I-no-1-text-3 {
    max-width: 664px;
}

.WEB-DESIGN-bg-1 {
    background-color: white;
    width: 262px;
    height: 273px;
}

.WEB-DESIGN-bg-1-img-1 {
    width: 60px;
    height: 60px;
}

.WEB-DESIGN-bg-1-text-1 {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 31px 0 0;
    color: #89725b;
}

.WEB-DESIGN-bg-1-link-1 {
    text-transform: uppercase;
    color: #000000;
    position: relative;
    top: 35px;
}

.r1 {
    min-height: 273px;
    grid-gap: 30px;
}

.projects-done-bg-1 {
    background-color: #292e33;
    color: white;
    width: 86.5%;
    height: auto;
    margin-bottom: 50px;
}

.u-section-3 .u-text-8 {
    font-size: 3.5rem;
    margin: 0 auto 0 0;
    font-size: 3.2rem;
}

h1 {
    font-size: 3.1rem;
    font-weight: 400;
}

.btn {
    background-color: #292e33 !important;
    border-color: #ffffff !important;
    font-size: 19px;
    color: white;
    transition: 0.5s;
    margin-top: 18px;
    margin-bottom: 25px;
}

.btn:hover {
    background-color: #ffffff !important;
    border-color: #070707 !important;
    color: var(--bs-btn-hover-color);
    color: black;
}

.EDUCATION-no-1-bg-1 {
    color: #ffffff;
    background-color: #292e33;
    width: 100%;
    height: auto;
}

.EDUCATION-no-1-text-1 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
    color: #8e7f6e !important;
}

.school-1 {
    text-transform: uppercase;
    color: #8e7f6e !important;
}

.school-2 {
    color: white;
    max-width: 455px;
    font-size: 16px;
}

.school {
    margin-top: 50px;
    margin-bottom: 11px;
}

.school-1-2 {
    text-transform: uppercase;
    color: #8e7f6e !important;
    margin-top: 20px;
}

.What-clients-bg-1 {
    color: #111111;
    background-color: #d8ccbe;
    width: 100%;
    height: auto;
}

.What-clients-text {
    color: white;
    font-size: 65px;
}

.at-1 {
    margin-bottom: 25rem !important;
}

.clients-say-no-2 {
    padding: 20px;
}

.clients-say-no-2-bg-1 {
    background-color: white;
    /* width: 322.5px;
    height: 465px; */
    border-radius: 20px;
    padding: 0.1px;
}

.clients-say-no-2-logo-1 {
    width: 65px;
    height: 65px;
}

.clients-say-no-2-text-1 {
    max-width: 330px;
}

.clients-say-no-2-image-1 {
    background-image: url(./image/8.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-top: 20px;
}

.clients-say-no-2-image-2 {
    background-image: url(./image/9.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-top: 20px;
}

.clients-say-no-2-image-3 {
    background-image: url(./image/10.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-top: 20px;
}

.clients-say-no-2-text-2 {
    font-size: 20px;
    font-weight: bold;
    color: #5f5f5f !important;
}

.clients-say-no-2-text-3 {
    font-size: 18px;
    font-weight: bold;
    color: #797979 !important;
    margin-bottom: 25px;
}

.app-12 {
    margin-top: -375px;
}

.clients-say-no {
    display: grid;
    min-height: 465px;
    grid-gap: 33px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.What-clients-text-1 {
    margin-left: 8rem !important;
    margin-bottom: 30px;
}

.My-Works-text-1 {
    font-size: 3.4375rem;
    line-height: 1.1;
    font-weight: 700;
    color: #070707;
}

.My-Works {
    margin-top: 50px;
}

.all-my-works-no-1-image-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./image/13.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    padding: 0.1px;
}

.all-my-works-no-1-bg-1 {
    background-color: #292e33;
    width: auto;
    height: auto;
    opacity: 70%;
    margin-top: 299px;
}

.link-1 {
    text-decoration: none;
}

.all-my-works-no-1-text {
    padding: 30px 20px;
}

.all-my-works-no-1-text-1 {
    color: white;
    font-size: 20px;
}

.all-my-works-no-1-text-2 {
    color: white;
}

.all-my-works-no-1-image-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./image/13.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 805px;
    width: auto;
    height: auto;
    padding: 0.1px;
    transition: 0.5s;
}

.all-my-works-no-1-image-1:hover {
    background-size: 830px;
}

.all-my-works-no-1-image-2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./image/14.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 532px;
    width: auto;
    height: auto;
    padding: 0.1px;
    transition: 0.5s;
}

.all-my-works-no-1-image-2:hover {
    background-size: 560px;
}

.all-my-works-no-1-image-3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./image/15.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 805px;
    width: auto;
    height: auto;
    padding: 0.1px;
    transition: 0.5s;
    background-position-x: -210px;
}

.all-my-works-no-1-image-3:hover {
    background-size: 825px;
}

.all-my-works-no-1-image-4 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./image/17.avif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 604px;
    width: auto;
    height: auto;
    padding: 0.1px;
    transition: 0.5s;
}

.all-my-works-no-1-image-4:hover {
    background-size: 630px;
}

.all-my-works-no-1-image-5 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./image/18.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 604px;
    width: auto;
    height: auto;
    padding: 0.1px;
    transition: 0.5s;
    background-position-x: 0px;
}

.all-my-works-no-1-image-5:hover {
    background-size: 630px;
}

.all-my-works-no-1-image-6 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./image/20.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 455px;
    width: auto;
    height: auto;
    padding: 0.1px;
    transition: 0.5s;
    background-position-x: -14px;
}

.all-my-works-no-1-image-6:hover {
    background-size: 470px;
}

.Name-Project {
    color: #ffffff;
    background-color: #292e33;
    width: auto;
    height: auto;
    margin-top: 180px;
    margin-bottom: 100px;
    padding: 0.1px;
}

.Name-Project-text {
    color: white;
    /* padding: 60px; */
    padding: 20px;
}

.Name-Project-text-1 {
    font-size: 45px;
}

.Name-Project-text-5 {
    color: #8e7f6e !important;
    transition: 0.3s;
    font-family: system-ui;
}

.Name-Project-text-5:hover {
    color: white !important;
}

.Name-Project-text-link-1 {
    text-decoration: none;
}

.Name-Project-text-9 {
    margin-bottom: 40px;
}

.all-form {
    background-color: white;
    max-width: 627px;
    min-height: 580px;
    margin-top: 180px;
    margin-bottom: 100px;
    padding: 0.1px;
}

.form01 {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-top: 100px;

}



.form-1 {
    border: 3px #c0c0c0 solid;
    width: 80%;
    height: 50px;
    padding: 3px;
}



.form-2 {
    padding: 3px;
    width: 80%;
    height: 120px;
    border: 3px #c0c0c0 solid;
}

button.btn.button-1 {
    width: 426px;
    background-color: #8e7f6e !important;
    border-color: #8e7f6e;
    height: 50px;
}

button.btn.button-1:hover {
    width: 426px;
    background-color: black !important;
    border-color: #8e7f6e;
    color: white;

}


@media only screen and (max-width: 600px) {
    .image-1 {
        width: 351px;
        height: 468PX;
        margin-top: 70px;
        margin-left: 20px;
        border-radius: 20px;
        padding: 8px;
    }

    .personal-page-no-1 {
        margin-left: 40px;
        margin-top: 70px;
    }

    .personal-page-no-2 {
        margin-left: 40px;
        margin-top: 70px;
    }

    .personal-page-text {
        margin-top: 30px;
        margin-left: 40px;
    }

    .MY-STRENGTHS-text-1-no-1 {
        text-transform: uppercase;
        margin: 79px auto 0 1px;
        color: #8e7f6e !important;
        text-align: center;
    }

    .school-1-2 {
        text-transform: uppercase;
        color: #8e7f6e !important;
        margin-top: 1px;
    }

    .at-1 {
        margin-bottom: -2rem !important;
    }

    .app-12 {
        margin-top: 5px;
    }

    .What-clients-text-1 {
        margin-left: 0rem !important;
        margin-bottom: 27px;
        font-size: 43px;
    }

    .all-my-works-no-1-image-3 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./image/15.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 805px;
        width: auto;
        height: auto;
        padding: 0.1px;
        transition: 0.5s;
        background-position-x: -258px;
    }

    button.btn.button-1 {
        width: 253px;
        background-color: #8e7f6e !important;
        border-color: #8e7f6e;
        height: 50px;
    }

    button.btn.button-1:hover {
        width: 253px;
        background-color: black !important;
        border-color: #8e7f6e;
        color: white;

    }

    .all-form {
        background-color: white;
        max-width: 627px;
        min-height: 580px;
        margin-top: -101px;
        margin-bottom: 100px;
        padding: 0.1px;
    }

    .form01 {
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 31px;
        padding-top: 100px;
    }
}